/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* END CSS RESET */
body { font-family: 'DINPro', sans-serif; color: #646464; background: #fff; max-width: 100vw; overflow-x: hidden; }

section { margin-bottom: 55px; }

.container { width: 168px; margin: auto; }

@media (min-width: 480px) { .container { width: 415px; } }

@media (min-width: 768px) { section { margin-bottom: 80px; } }

@font-face { font-family: 'DINPro'; src: url("/fonts/DINPro-Regular.woff2") format("woff2"), url("/fonts/DINPro-Regular.woff") format("woff"); font-weight: normal; font-style: normal; font-display: swap; }

a { font-size: 17px; }

h2 { font-size: 26.95px; color: #757575; }

h6 { font-size: 15px; }

p { font-size: 13px; }

button:hover { color: #bbd547; }

button:hover svg g { fill: #bbd547; }

.search-btn, .hamburger-btn { border: none; background: none; cursor: pointer; }

.search-btn svg, .hamburger-btn svg { width: 17px; height: 17px; }

.search-btn:hover svg g, .hamburger-btn:hover svg g { fill: #bbd547; }

.img-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 168px; margin-right: 40px; height: 102px; background-color: #e9e9e9; }

.img-btn svg { height: 45px; width: 60px; }

.img-btn svg:link g, .img-btn svg:visited g, .img-btn svg:focus g, .img-btn svg:hover g, .img-btn svg:active g { fill: #bbd547; }

.link-btn { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: #e9e9e9; font-size: 9px; padding: 7px; text-decoration: none; color: #646464; }

.link-btn:hover { color: #ffff; background-color: #bbd547; }

@media (min-width: 480px) { .hamburger-btn { display: none; }
  .img-btn { width: 188px; height: 113px; } }

@media (min-width: 768px) { .hamburger-btn { display: none; } }

.header { position: relative; text-align: center; }

.header nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header nav ul a { text-decoration: none; color: #bababa; }

.header nav ul a:focus { color: #429099; }

.header nav ul a:focus svg g { fill: #429099; }

.header nav ul a:hover { color: #bbd547; }

.header nav ul a:hover svg g { fill: #bbd547; }

.header nav ul a:active { color: #81b36e; }

.header nav ul a:active svg g { fill: #81b36e; }

.header__top { padding: 2% 4%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header .logo { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.header .tablet-menu { display: none; }

.header .tablet-menu svg { height: 21px; max-width: 28px; }

.header .gradient { height: 8px; background: -webkit-gradient(linear, left top, right top, from(#b9d449), color-stop(100%, #1476b8), color-stop(100%, black), to(rgba(224, 215, 201, 0))); background: linear-gradient(90deg, #b9d449 0%, #1476b8 100%, black 100%, rgba(224, 215, 201, 0) 100%); }

.header .search-input { width: 90%; margin-bottom: 7px; border: 1px solid #d8d8d8; outline-color: #bbd547; -webkit-box-shadow: none; box-shadow: none; }

.header .search-input:not(.search-open) { display: none; }

@media (max-width: 479px) { .header .logo, .header .hamburger-btn, .header .search-btn, .header .search-input, .header .gradient { position: relative; z-index: 3; }
  .header:after { position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffff; z-index: 2; }
  .header nav { position: absolute; left: 0; top: 100%; width: 100%; background-color: #ffff; -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: -webkit-transform 0.3s ease-in; transition: -webkit-transform 0.3s ease-in; transition: transform 0.3s ease-in; transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in; z-index: 2; }
  .header nav ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: left; }
  .header nav ul li { width: 100%; margin-bottom: 0; }
  .header nav ul li a { color: #ffff; display: block; padding: 5px 15px; }
  .header nav ul li:not(:last-of-type) { border-bottom: 1px solid #e5eebe; }
  .header nav ul li:nth-child(1) a { background-color: #bbd547; }
  .header nav ul li:nth-child(2) a { background-color: #81b36e; }
  .header nav ul li:nth-child(3) a { background-color: #429099; }
  .header nav ul li:nth-child(4) a { background-color: #1375b8; }
  .header.menu-open nav { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  .header.menu-open .gradient { opacity: 0; } }

@media (min-width: 480px) { .header nav { width: 50%; }
  .header nav ul { -ms-flex-pack: distribute; justify-content: space-around; }
  .header .tablet-menu { display: block; }
  .header .desktop-menu { display: none; }
  .search-input { position: absolute; bottom: -20px; right: 20px; max-width: 300px; z-index: 2; padding: 8px; } }

@media (min-width: 768px) { .header nav { width: auto; }
  .header nav ul { -webkit-box-pack: unset; -ms-flex-pack: unset; justify-content: unset; }
  .header .tablet-menu { display: none; }
  .header .desktop-menu { display: inline-block; }
  .header li:not(:last-child)::after { margin: 0 10px; content: '/'; } }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #dbdbdb; padding: 10px 13px; }

.footer__menu { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer__menu a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer__menu a:hover svg g { fill: #bbd547; }

.footer__menu a:not(:last-child) { margin-right: 20px; }

.footer__menu a svg { display: block; }

.footer__menu a, .footer button { background-color: #f3f3f4; width: 40px; height: 40px; border-radius: 50%; cursor: pointer; }

.footer nav { display: none; }

.footer nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer nav ul li:not(:last-child) { margin-right: 12px; }

.footer nav ul a { text-decoration: none; color: #6d6e71; }

.footer nav ul a:hover { color: #bbd547; }

.footer nav ul a:hover svg g { fill: #bbd547; }

.footer .arrow-btn { border: none; }

.footer svg { width: 24px; height: 23px; }

@media (min-width: 480px) { .footer { padding: 10px 35px; } }

@media (min-width: 768px) { .footer { padding: 10px 38px; }
  .footer nav { display: block; } }

.hero { position: relative; border-bottom: 1px solid #bababa; }

.hero .swiper-container { width: 100%; height: 180px; }

.hero .swiper-container::before { position: absolute; content: ''; bottom: 50px; left: 0; width: 100%; height: 1px; z-index: 1; background-color: #bababa; }

.hero .swiper-container .swiper-pagination { display: none; }

.hero .swiper-container .swiper-button-prev, .hero .swiper-container .swiper-button-next { margin-top: 0; top: auto; bottom: 3px; }

.hero .swiper-container .swiper-button-prev::after, .hero .swiper-container .swiper-button-next::after { color: #bababa; font-size: 12px; }

.hero .swiper-container .swiper-slide img { width: 99px; height: auto; }

.hero .swiper-container .swiper-slide__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #f3f3f3; background-image: url(../assets/hero/hero-bg.jpg); background-position: center; background-repeat: no-repeat; background-size: contain; height: 117px; padding-top: 11px; }

.hero .swiper-container .swiper-slide__inner h1 { text-align: center; position: relative; -webkit-transform: translateY(34px); -ms-transform: translateY(34px); transform: translateY(34px); font-family: 18px; text-transform: uppercase; }

@media (min-width: 480px) { .hero .swiper-container { height: 196px; }
  .hero .swiper-container .swiper-pagination { display: block; bottom: 15px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); min-width: 100px; }
  .hero .swiper-container .swiper-pagination .swiper-pagination-bullet { background-color: #bababa; margin: 0 5px; height: 9px; width: 9px; }
  .hero .swiper-container .swiper-pagination .swiper-pagination-bullet-active { background-color: #bbd547; }
  .hero .swiper-container .swiper-button-prev, .hero .swiper-container .swiper-button-next { display: none; }
  .hero .swiper-container .swiper-slide img { width: 134px; }
  .hero .swiper-container .swiper-slide__inner { height: 100%; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding-top: 0; }
  .hero .swiper-container .swiper-slide__inner h1 { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); font-size: 37.67px; max-width: 259px; text-align: left; margin-left: 19px; } }

@media (min-width: 768px) { .hero .swiper-container { height: 310px; }
  .hero .swiper-container .swiper-slide img { width: 171px; }
  .hero .swiper-container .swiper-slide h1 { font-size: 48px; max-width: 330px; } }

.card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.card:not(:last-child) { margin-bottom: 40px; }

.card__body { display: none; max-width: 187px; }

.card__title { margin-top: 8px; margin-bottom: 10px; }

.card__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.card .link-btn { margin-top: auto; -ms-flex-item-align: end; align-self: flex-end; text-align: center; margin-left: auto; max-width: 66px; }

h2 { margin-top: 20px; margin-bottom: 12px; }

.cards-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto; max-width: 794px; }

@media (min-width: 480px) { .card { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .card__body { display: block; }
  .card__title { margin-top: 0; margin-bottom: 12px; }
  h2 { font-size: 30px; margin-top: 30px; margin-bottom: 24px; } }

.what-we-do__outter-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto; max-width: 794px; }

.what-we-do__col:first-child { margin-bottom: 25px; }

.what-we-do .img-btn-wrap:not(:last-child) { margin-bottom: 25px; }

@media (min-width: 480px) { .what-we-do__inner-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .what-we-do__col:first-child { margin-bottom: 0; }
  .what-we-do .img-btn-wrap:not(:last-child) { margin-bottom: 40px; } }
