.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbdb;
  padding: 10px 13px;
  &__menu {
    display: flex;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        svg {
          g {
            fill: $clightgreen;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
      svg {
        display: block;
      }
    }
  }
  &__menu a,
  button {
    background-color: #f3f3f4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  nav {
    display: none;
    ul {
      display: flex;
      li:not(:last-child) {
        margin-right: 12px;
      }
      a {
        text-decoration: none;
        color: #6d6e71;
        &:hover {
          color: $clightgreen;
          svg {
            g {
              fill: $clightgreen;
            }
          }
        }
      }
    }
  }
  .arrow-btn {
    border: none;
  }
  svg {
    width: 24px;
    height: 23px;
  }
}
@media (min-width: 480px) {
  .footer {
    padding: 10px 35px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 10px 38px;
    nav {
      display: block;
    }
  }
}
