.header {
  text-align: center;
  nav {
    ul {
      display: flex;
      a {
        text-decoration: none;
        &:link {
          color: $cgrey;
        }
        // &:visited {
        //   color: $cdarkblue;
        //   svg {
        //     g {
        //       fill: $cdarkblue;
        //     }
        //   }
        // }
        &:focus {
          color: $clightblue;
          svg {
            g {
              fill: $clightblue;
            }
          }
        }
        &:hover {
          color: $clightgreen;
          svg {
            g {
              fill: $clightgreen;
            }
          }
        }
        &:active {
          color: $cdarkgreen;
          svg {
            g {
              fill: $cdarkgreen;
            }
          }
        }
      }
    }
  }
  &__top {
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: inline-flex;
  }
  .tablet-menu {
    display: none;
    svg {
      height: 21px;
      max-width: 28px;
    }
  }
  .gradient {
    height: 8px;
    background: $gradient;
  }
  .search-input {
    width: 90%;
    margin-bottom: 7px;
  }
}
@media (max-width: 479px) {
  .header {
    position: relative;
    nav {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;

      ul {
        flex-direction: column;
        text-align: left;
        li {
          width: 100%;
          a {
            color: $cwhite;
            display: block;
            padding: 5px 15px;
          }
          &:not(:last-of-type) {
            border-bottom: 1px solid #e5eebe;
          }
          &:nth-child(1) {
            a {
              background-color: $clightgreen;
            }
          }
          &:nth-child(2) {
            a {
              background-color: $cdarkgreen;
            }
          }
          &:nth-child(3) {
            a {
              background-color: $clightblue;
            }
          }
          &:nth-child(4) {
            a {
              background-color: $cdarkblue;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 480px) {
  .header {
    nav {
      width: 50%;
      ul {
        justify-content: space-around;
      }
    }
    .tablet-menu {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .header {
    nav {
      width: auto;
      ul {
        justify-content: unset;
      }
    }
    .tablet-menu {
      display: none;
    }
    .desktop-menu {
      display: inline-block;
    }
    li:not(:last-child)::after {
      margin: 0 10px;
      content: '/';
    }
  }
}
