.header {
  position: relative;
  text-align: center;
  nav {
    ul {
      display: flex;
      a {
        text-decoration: none;
        color: $cgrey;
        // &:visited {
        //   color: $cdarkblue;
        //   svg {
        //     g {
        //       fill: $cdarkblue;
        //     }
        //   }
        // }
        &:focus {
          color: $clightblue;
          svg {
            g {
              fill: $clightblue;
            }
          }
        }
        &:hover {
          color: $clightgreen;
          svg {
            g {
              fill: $clightgreen;
            }
          }
        }
        &:active {
          color: $cdarkgreen;
          svg {
            g {
              fill: $cdarkgreen;
            }
          }
        }
      }
    }
  }
  &__top {
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: inline-flex;
  }
  .tablet-menu {
    display: none;
    svg {
      height: 21px;
      max-width: 28px;
    }
  }
  .gradient {
    height: 8px;
    background: $gradient;
  }
  .search-input {
    width: 90%;
    margin-bottom: 7px;
    border: 1px solid #d8d8d8;
    outline-color: $clightgreen;

    &:not(.search-open) {
      display: none;
    }
  }
}
@media (max-width: 479px) {
  .header {
    .logo,
    .hamburger-btn,
    .search-btn,
    .search-input,
    .gradient {
      position: relative;
      z-index: 3;
    }
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $cwhite;
      z-index: 2;
    }
    nav {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: $cwhite;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in;
      z-index: 2;

      ul {
        flex-direction: column;
        text-align: left;
        li {
          width: 100%;
          margin-bottom: 0;
          a {
            color: $cwhite;
            display: block;
            padding: 5px 15px;
          }
          &:not(:last-of-type) {
            border-bottom: 1px solid #e5eebe;
          }
          &:nth-child(1) {
            a {
              background-color: $clightgreen;
            }
          }
          &:nth-child(2) {
            a {
              background-color: $cdarkgreen;
            }
          }
          &:nth-child(3) {
            a {
              background-color: $clightblue;
            }
          }
          &:nth-child(4) {
            a {
              background-color: $cdarkblue;
            }
          }
        }
      }
    }
    &.menu-open {
      nav {
        transform: translateY(0);
      }
      .gradient {
        opacity: 0;
      }
    }
  }
}
@media (min-width: 480px) {
  .header {
    nav {
      width: 50%;
      ul {
        justify-content: space-around;
      }
    }
    .tablet-menu {
      display: block;
    }
    .desktop-menu {
      display: none;
    }
  }
  .search-input {
    position: absolute;
    bottom: -20px;
    right: 20px;
    max-width: 300px;
    z-index: 2;
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .header {
    nav {
      width: auto;
      ul {
        justify-content: unset;
      }
    }
    .tablet-menu {
      display: none;
    }
    .desktop-menu {
      display: inline-block;
    }
    li:not(:last-child)::after {
      margin: 0 10px;
      content: '/';
    }
  }
}
