$cgrey: #bababa;
$cwhite: #ffff;
$cdef: #646464;
$csec: #757575;
$clightgreen: #bbd547;
$cdarkgreen: #81b36e;
$clightblue: #429099;
$cdarkblue: #1375b8;
$gradient: linear-gradient(
  90deg,
  rgba(185, 212, 73, 1) 0%,
  rgba(20, 118, 184, 1) 100%,
  rgba(0, 0, 0, 1) 100%,
  rgba(224, 215, 201, 0) 100%
);
